**
!Dockerfile
!pyproject.toml
!requirements.lock.txt
!LICENSE
!NOTICE
!sdd/
!sdd/**
!deploy/
!deploy/postgres.Dockerfile
!deploy/native.Dockerfile
!deploy/native-entrypoint.sh
!native/
!native/Cargo.toml
!native/Cargo.lock
!native/core/
!native/core/**
!native/pg/
!native/pg/**
**/__pycache__/
**/*.pyc
