SDD_DB_HOST=postgres.example.internal
SDD_DB_PORT=5432
SDD_DB_NAME=semantic_workspace
SDD_DB_USER=semantic_runtime
SDD_ADMIN_DB_USER=semantic_owner
SDD_ADMIN_PASSWORD_FILE=.secrets/postgres_password
SDD_DATABASE_CA_FILE=.secrets/database-ca.crt
SDD_SECRETS_DIR=.secrets
SDD_HTTP_PORT=8000
SDD_SQL_INTERFACE=0

SDD_DB_POOL_SIZE=5
SDD_DB_MAX_OVERFLOW=5
SDD_DB_GUARD_POOL_SIZE=2
SDD_DB_POOL_TIMEOUT=10
SDD_DB_CONNECT_TIMEOUT=10

SDD_JEV_TRANSPORT=systemone
SDD_JEV_MODEL=jev-1.13.0
SDD_JEV_CONCURRENCY=4
SDD_DAILY_EVALUATIONS=1000
SDD_FEATURE_MAINTENANCE=1
